/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');


/* Universal Styles */
body{
  font-family: 'Noto Sans', sans-serif;
}


/* Header Styles */
.logo{
  height: 40px;

}

.flex{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-default{
  background-color: #C7D9B7;
  padding: 10px;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #89023E;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #89023E;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}





/* Header Ends */


/* Footer Styles Start*/

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #89023E;
  background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #89023E;

}

.nav-pills>li>a {
  color: #000;
}

/* Social Icons */

.social-icons :hover {
  color: #89023E;
}

.social-icons>span>a>i {
  color: #000;
}



/* Media Queries */

@media screen and (max-width: 992px) {.footer-links {
  display: none;
  }
}
/* Footer Styles End */
